/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
  url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
  url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
  url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
  url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* CUSTOM PROPS */
:root {
  --body-bg: #f1f4ff;
  --green: #4dc490;
  --purple: #655af2;
  --red: #f03535;
  --text-color: #000;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dotted var(--purple);
  outline-offset: 3px;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1192px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}


/* INTRO-PAGE */
.intro-page {
  display: flex;
}


/* HERO */
.hero {
  --text-color: #fff;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 570px;
  border-radius: 20px;
  overflow: hidden;
  color: var(--text-color);
}

.hero-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 55px 60px;
  background-color: #222;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-badge {
  padding: 5px 15px;
  border: 1px solid var(--text-color);
  margin-bottom: 60px;
  border-radius: 41px;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 46px;
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}

.hero-bottom {
  padding: 28px;
  background-color: var(--green);
  font-size: 19px;
  text-align: center;
}


/* SIGNUP-FORM */
.signup-form {
  width: 100%;
  max-width: 570px;
  padding: 55px 60px 40px;
  margin-left: 12px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.signup-form-heading {
  margin-top: 0;
  margin-bottom: 65px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

.signup-form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.signup-form-field {
  padding-top: 15px;
  padding-bottom: 14px;
  border: 0;
  border-bottom: 1px solid #555;
  color: #555;
}

.signup-form-field:not(:last-child) {
  margin-bottom: 20px;
}

.signup-form-field:focus {
  border-color: #000;
  font-weight: 600;
  color: #000;
}

.signup-form-submit {
  display: block;
  width: 100%;
  padding: 20px;
  border: 0;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: var(--purple);
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.signup-form-notice {
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

.signup-form-notice-link {
  font-weight: 500;
  color: var(--red);
}
